<template>
  <div class="home login-container" @click="toLogin">

    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  methods: {
    toLogin(){
      this.$router.push('/login')
    }
  }
}
</script>
