<template>
  <div class="login-con">
    <img class="background-img" src="../../assets/login_backgroud.png"/>
    <div class="bottom-title">
        <p style="margin-bottom: 11px">小莹管理系统  2020</p>
        <p>copyright 2020 版权所有 翻版必究</p>
    </div>
    <div class="center-box">
      <div class="header-title">
        <p>小莹</p>
        <p>开放平台管理系统</p>
      </div>
      <img class="title-img" src="../../assets/timgx.png"/>
      <div class="input-box">
        <el-input placeholder="请输入内容用户名" v-model="account">
          <template slot="prepend">账号</template>
        </el-input>
        <el-input type="password" placeholder="请输入密码" v-model="password">
          <template slot="prepend">密码</template>
        </el-input>
        <el-input placeholder="请输入验证码" v-model="code">
          <el-button slot="append" :style="getCodeing?'':'background: #489ef3;color: white;'"
            @click="getCode"
          >{{getCodePlace}}</el-button>
        </el-input>
      </div>
      <el-button size="medium" style="width: 97px;background: #489ef3;color: white;border: solid 1px #a3d0fd" @click="logined">登录</el-button>

    </div>

  </div>
</template>

<script>
  import {EasyCode} from '../../commont/LEXTool/easyCode';
  import EasyTimer from '../../commont/LEXTool/EasyTimer';
  const easytime = new EasyTimer();
  export default {
    name: 'login',
    data () {
      return {
        account:null,
        password:null,
        getCodeing:false,
        code:null,
        getCodePlace:'获取验证码'
      }
    },
    components: {

    },
    methods: {
      getCode(){
        if (this.getCodeing) {
          return;
        }
        if (!EasyCode.IsNotEmpty(this.account)){
          this.$message.error({
            message:'账号不能为空'
          });

          return;
        }
        if (!EasyCode.IsNotEmpty(this.password)){
          this.$message.error({
            message:'账号不能为空'
          });

          return;
        }
        if (easytime.isBegin){return;}
        this.getCodeing = true;
        easytime.start(60,
          (time)=>{
            this.getCodePlace =time;
          },
          (err)=>{
            this.getCodePlace ='重发';
            this.getCodeing = false
          }
        );

      },
      logined(){
        this.$router.push('/home')
      }
    }
  }
</script>
<style>
  .login-con{
    display: flex;
    width: 100%;
    top: 173px;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .center-box{
    /*padding: 100px 0;*/
    height: 596px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .background-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .header-title{
    height: 64px;
    width: 200px;
    display: flex;
    align-items: flex-end;
  }
  .title-img{
    width: 67px;
    height: 67px;
  }
  p {
    margin: 0;
  }
  .header-title :first-child{
    height: 64px;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 99px;
    letter-spacing: 0px;
    margin-right: 12px;
    color: #2862eb;
  }
  .header-title :last-child{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #ffffff;
  }
  .input-box{
    width: 320px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bottom-title{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 106px;
    background-color: rgba(0, 0, 0, 0.43);
    border: solid 1px #707070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
  }
</style>
