<template>
    <div style="width: 100px;height: 100px">
      1111111111111
    </div>
</template>

<script>
    export default {
      /* eslint-disable */
        name: 'home'
    }
</script>

<style scoped>

</style>
